.eventsSearchContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding-top: 10px;
}
.eventsSearchContainer label {
  font-size: 25px;
}
.eventsSearchInput {
  margin-left: 10px;
  font-size: 20px;
  padding: 5px 38px 4px 7px;
  position: relative;
}
.eventsSearchInput:focus {
  outline-color: #0000ff;
}
.eventsSearchLabel {
  position: relative;
}
.magnifier {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 99;
  opacity: 0.7;
  background-image: url("../../assets/iconmonstr-magnifier.svg");
  background-repeat: no-repeat;
  filter: invert(84%) sepia(32%) saturate(1307%) hue-rotate(313deg)
    brightness(62%) contrast(371%);
}
.eventsSearchBox {
  position: relative;
  width: max-content;
  margin: 15px auto 0px;
}
.eventsSearchInput:focus + .magnifier {
  filter: invert(68%) sepia(95%) saturate(1600%) hue-rotate(522deg)
    brightness(62%) contrast(371%);
}
