.myOwnModalContent {
  padding: 80px 15px;
  height: initial;
  display: flex;
  flex-direction: column;
}
.gmnoprint {
  display: none;
}
.myOwnModalContent form {
  width: 50%;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.myOwnModalContent form .form__row {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}
.myOwnModalContent form .form__row.map-container {
  width: 100%;
  display: block;
}

.myOwnModalContent form .form__row input,
.uploadFile {
  padding: 3px 5px;
}
.myOwnModalContent form .form__row input:valid,
.myOwnModalContent form .form__row textarea:valid,
.myOwnModalContent form .form__row select:valid {
  border: 2px solid #86d786;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
.myOwnModalContent form label {
  text-align: left;
  font-weight: 700;
}
::placeholder {
  color: #ff0000;
}

.myOwnModalContent form .form__row picture {
  width: 170px;
  margin-left: 40px;
}
.myOwnModalContent form .form__row.image-container {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center;
}
.uploadFile {
  width: 170px;
  background-color: #008000;
  font-weight: 700;
  color: #fff;
}
.myOwnModalContent form .form__row input,
.myOwnModalContent form .form__row select,
.myOwnModalContent form .form__row textarea,
.uploadFile {
  outline: 0px;
  border: 2px solid #b0b0b0;
  border-radius: 5px;
}
.myOwnModalContent form .form__row input:focus,
.myOwnModalContent form .form__row select:focus,
.myOwnModalContent form .form__row textarea:focus {
  background-color: #fff;
  border: 2px solid #000;
}

form input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.myOwnModalContent form .form__row input[type="text"],
.myOwnModalContent form .form__row input[type="date"],
.myOwnModalContent form .form__row select,
.myOwnModalContent form .form__row textarea {
  width: 100%;
}
.myOwnModalContent form .form__row textarea {
  width: 100% !important;
  min-height: 150px;
  padding: 5px;
}
.myOwnModalContent form .form__row:not(:last-child) {
  margin-bottom: 7px;
}
.myOwnModalContent form .addEventBtn {
  width: max-content;
  padding: 10px;
  background-color: #008000;
  color: #fff;
  border: 0;
  margin: 0 auto;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
}
input[type="date"] {
  webkit-appearance: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.latlng,
.latFld,
.lngFld {
  display: none;
}

/*  */
.loadingBox {
  background: #fff;
  max-width: 559px;
  width: 25%;
  padding: 90px;
  position: fixed;
  height: 25%;
  top: 37.5%;
  left: 37.5%;
  border: 1px solid #c9c9c9;
  box-shadow: 1px 2px 13px #707070;
  z-index: 99;
}
.loadingBoxText {
  font-weight: 700;
  font-size: 23px;
}
.MuiCircularProgress-root {
  margin-top: 25px;
}
.cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;
}
