.mainContent {
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px 20px 100px;
}
h2 {
  font-size: 42px;
  font-weight: 500;
  padding-top: 20px;
}
.eventsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}
.eventBuilderCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.eventBuilderCard.eventCard {
  min-height: 200px;
  height: initial;
}
.eventBuilderCard:hover .plusIcon {
  transform: rotate(180deg);
}
.eventBuilderCard p {
  font-size: 28px;
  padding: 10px 0 0;
  color: #000;
}
.eventBuilderCard .plusIcon {
  width: 50px;
  height: 50px;
  color: #ff0000;
  filter: invert(31%) sepia(93%) saturate(1352%) hue-rotate(87deg)
    brightness(119%) contrast(119%);
  transition: transform 0.5s ease-in-out;
}
