* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Baloo 2", cursive;
}
a * {
  pointer-events: none;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
.App {
  text-align: center;
}
button {
  outline: 0px;
}

.myOwnModal {
  background: rgba(255, 255, 255, 0.99);
  width: 60vw;
  height: 90vh;
  top: 5vh;
  border: 1px solid #cfcaca;
  position: fixed;
  left: 20vw;
  z-index: 150;
  box-shadow: 1px 1px 7px #646464;
  overflow-y: scroll;
}

.closeEventModal {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 3%;
  top: 3%;
  border-radius: 50%;
  border: 0;
  background-color: #ff0000;
  color: #fff;
}
