@media screen and (max-width: 1200px) {
  .myOwnModalContent form {
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .eventsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .eventCard .eventCardHeader {
    font-size: 14px;
  }
  .eventCardHover {
    pointer-events: none;
    display: none;
  }
  .eventCardHover button {
    pointer-events: none;
  }
  .eventCard:active .eventCardHover button {
    pointer-events: initial;
  }
  .eventCard.open .eventCardHover {
    opacity: 1;
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .eventCard {
    max-width: none;
    width: 100%;
  }
  .eventCard .eventCardHeader {
    flex-direction: column;
    justify-content: center;
  }
  .eventCard .eventCardHeader .eventCardDate {
    position: relative;
    left: 0;
    display: inline-grid;
    grid-template-columns: repeat(2, 25px);
    order: 2;
  }
}
@media screen and (max-width: 600px) {
  .eventsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .eventCard .eventCardHeader .eventCardDate {
    position: absolute;
    left: 20px;
    display: flex;
  }
  .eventsSearchContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-top: 10px;
    box-shadow: 1px 3px 16px #b9bebc;
    padding: 20px;
    position: fixed;
    z-index: 100000;
    background: #fff;
    top: 0;
    left: 0;
    height: 160px;
  }
  .mainContent {
    padding-bottom: 50px;
  }
  h2 {
    margin: 10vw 0vw 10vw;
  }
  .eventsSearchContainer label {
    font-size: 20px;
  }
  .myOwnModal {
    width: 100vw;
    left: 0;
    top: 160px;
    height: calc(100vh - 160px);
  }
}
